
@{
    ViewBag.Title = "YeniSatisEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div label="Satış Müşteri Adı">
        <input type="text" class="form-control" name="SatisMUSTERI"/>
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info"> Satış Ekle </button>
    </div>
</form>

